.cart {
  overflow: hidden;
  position: relative;
  width: 35%;
  height: 100vh;
  border-left: 1px solid #000;
}

.cart__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  & > * {
    padding: 2rem;
  }
}

// Cart Infos
.cart__infos {
  height: 20vh;
}

// Cart List
.cart__list {
  overflow-y: scroll;
  height: 60vh;
  margin: 0;
  list-style: none;
}

.cart__list__el {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 0;
  
  &:not(:first-child) {
    border-top: 1px solid #000;
  }
}

.cart__list__el__text {
  h3 {
    margin: 0;
  }
}

.cart__list__el__actions {
  display: flex;
}

.button-list__manipulate {
  display: flex;
  flex-direction: column;
}


// Cart Actions
.cart__actions {
  display: flex;
  flex-direction: column;
  height: 20vh;

  button {
    height: 100%;
    border: none;
  }
}

.cart__actions__cancel {
  background: rgba(0, 0, 0, .1);
}

.cart__actions__proceed {
  background: rgba(30, 255, 100, .5);
}


// Popups
.empty-validate {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, .4);
}

.empty-validate__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 4rem;
  background-color: #fff;
  text-align: center;

  transform: translate(-50%, -50%);

  button {
    padding: 1rem 2rem;

    &:not(:first-of-type) {
      margin-left: 2rem;
    }
  }
}