.cart {
  overflow: hidden;
  position: relative;
  width: 35%;
  height: 100%;
  margin-left: 2rem;
  border: 1px solid rgba(0, 0, 0, .2);
}

.cart__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  & > * {
    padding: 2rem;
  }
}

// Cart Infos
.cart__infos {
  height: 20%;
}

// Cart List
.cart__list {
  overflow-y: scroll;
  height: 60%;
  margin: 0;
  list-style: none;
}

.cart__list__el {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 0;
  
  &:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, .2);
  }
}

.cart__list__el__text {
  display: flex;
  width: 100%;
  justify-content: space-between;

  h3 {
    margin: 0;
  }
}

.cart__list__el__actions {
  display: flex;
}

.button-list__manipulate {
  display: flex;
  flex-direction: column;

  button {
    position: relative;
    width: 4rem;
    height: 4rem;
    border: 0;
    background: transparent;
    border-radius: 50%;
    outline: 0;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      pointer-events: none;

      transform: translate(-50%, -50%);
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, .1);
      border-radius: 50%;

      transform-origin: center center;
      transition: transform .2s ease-out;
      transform: scale(0);
    }

    &:hover {
      &::before {
        transform: scale(1);
      }
    }

    &:last-child {
      img {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }
  }
}


// Cart Actions
.cart__actions {
  display: flex;
  flex-direction: column;
  height: 20%;
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, .2);

  button {
    height: 100%;
    border: none;
    text-transform: uppercase;
    font-weight: 800;
  }
}

.cart__actions__cancel {
  background: transparent;
}

.cart__actions__proceed {
  color: #fff;
  background: rgba(0, 0, 0, .5);
}


// Popups
.empty-validate {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, .4);
}

.empty-validate__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 4rem;
  background-color: #fff;
  text-align: center;

  transform: translate(-50%, -50%);

  button {
    padding: 1rem 2rem;

    &:not(:first-of-type) {
      margin-left: 2rem;
    }
  }
}