{
  "extends": "airbnb",
  "env": {
      "es6": true,
      "node": true,
      "jest": true
  },
  "parserOptions": {
      "ecmaVersion": 2018
  },
  "parser": "babel-eslint",
  "rules": {
      "indent": [
          "error",
          2
      ],
      "no-use-before-define": "off",
      "linebreak-style": 0,
      "react/jsx-one-expression-per-line": "off",
  }
}