.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.App__wrapper {
  display: flex;
  height: calc(100vh - 10rem);
  padding: 2rem;
  box-sizing: border-box;
}

.App__main {
  width: 65%;
}

.App__main__product-list {
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}